.profile-container {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    padding: 20px 25px;
    background-color: #ded7d7;
    border-radius: 10px;
}

.header{
    text-align: center;
}

.footer{
    text-align: center;
}